body{
    background:url(indexrealmadridfon.png) top;
    background-repeat: repeat;
    background-size:100%;
    font-family:arial;
}
h1{
    text-align:center;
    font-size:50px;
}
h1{
    text-align:center;
}
h2{
    text-align:center;
    font-size:40px;
}
.center{
    margin-left:auto;
    margin-right:auto; 
}
table{
 font-size:35px;
    width:650px;
}
#one{
    width:60px;
}
#two{
    height:210px;
    width:400px;
}
td{
    text-align:center;
}