@media screen and (min-device-width:0px) and (max-device-width:320px) {
    table{width:90%}
   body{
    background:url(indexbarcelonafon.jpg) top fixed;
    background-repeat: repeat;
    background-size:100%;
    font-family:arial;
}
h1{
    color:white;
    text-align:center;
    font-size:45px;
}
h2{
    color:white;
    text-align:center;
    font-size:40px;
}
.center{
    margin-left:auto;
    margin-right:auto; 
}
table{
 font-size:35px;
    width:450px;
    color:white;
}
#one{
    width:70px;
}
#two{
    height:145px;
    width:250px;
}
#three{
    width:1000px;
    }
#four{
      width:80px;  
    }
td{
    text-align:center;
}
}

@media screen and (min-device-width:321px) and (max-device-width:480px) {
    table{width:90%}
   body{
    background:url(indexbarcelonafon.jpg) top fixed;
    background-repeat: repeat;
    background-size:100%;
    font-family:arial;
}
h1{
    color:white;
    text-align:center;
    font-size:45px;
}
h2{
    color:white;
    text-align:center;
    font-size:40px;
}
.center{
    margin-left:auto;
    margin-right:auto; 
}
table{
 font-size:35px;
    width:450px;
    color:white;
}
#one{
    width:70px;
}
#two{
    height:210px;
    width:400px;
}
#three{
    width:1000px;
    }
#four{
      width:80px;  
    }
td{
    text-align:center;
}
}

@media screen and (min-device-width:481px) and (max-device-width:600px) {
    table{width:90%}
   body{
    background:url(indexbarcelonafon.jpg) top fixed;
    background-repeat: repeat;
    background-size:100%;
    font-family:arial;
}
h1{
    color:white;
    text-align:center;
    font-size:50px;
}
h2{
    color:white;
    text-align:center;
    font-size:40px;
}
.center{
    margin-left:auto;
    margin-right:auto; 
}
table{
 font-size:30px;
    width:500px;
    color:white;
}
#one{
    width:60px;
}
#two{
    height:170px;
    width:300px;
}
#three{
    width:1000px;
    }
#four{
      width:80px;  
    }
td{
    text-align:center;
}
}

@media screen and (min-device-width:601px) and (max-device-width:660px) {
    table{width:90%}
   body{
    background:url(indexbarcelonafon.jpg) top fixed;
    background-repeat: repeat;
    background-size:100%;
    font-family:arial;
}
h1{
    color:white;
    text-align:center;
    font-size:45px;
}
h2{
    color:white;
    text-align:center;
    font-size:35px;
}
.center{
    margin-left:auto;
    margin-right:auto; 
}
table{
 font-size:28px;
    width:450px;
    color:white;
}
#one{
    width:65px;
}
#two{
    height:160px;
    width:300px;
}
#three{
    width:1000px;
    }
#four{
      width:80px;  
    }
td{
    text-align:center;
}
}

@media screen and (min-device-width:661px) and (max-device-width:1025px) {
    table{width:90%}
   body{
    background:url(indexbarcelonafon.jpg) top fixed;
    background-repeat: repeat;
    background-size:100%;
    font-family:arial;
}
h1{
    color:white;
    text-align:center;
    font-size:45px;
}
h2{
    color:white;
    text-align:center;
    font-size:40px;
}
.center{
    margin-left:auto;
    margin-right:auto; 
}
table{
    color:white;
 font-size:35px;
    width:481px;
}
#one{
    width:70px;
}
#two{
    height:160px;
    width:300px;
}
#three{
    width:1000px;
    }
#four{
      width:70px;  
    }
td{
    text-align:center;
}
}

@media screen and (min-device-width:1026px) and (max-device-width:1299px) {
    table{width:90%}
   body{
    background:url(indexbarcelonafon.jpg) top fixed;
    background-repeat: repeat;
    background-size:100%;
    font-family:arial;
}
h1{
    color:white;
    text-align:center;
    font-size:55px;
}
h2{
    color:white;
    text-align:center;
    font-size:45px;
}
.center{
    margin-left:auto;
    margin-right:auto; 
}
table{
    color:white;
 font-size:35px;
    width:504px;
}
#one{
    width:80px;
}
#two{
    height:210px;
    width:400px;
}
#three{
    width:1300px;
    }
#four{
      width:80px;  
    }
td{
    text-align:center;
}
}

@media screen and (min-device-width:1300px) and (max-device-width:1450px) {
    table{width:90%}
body{
    background:url(indexbarcelonafon.jpg) top fixed;
    background-repeat: repeat;
    background-size:100%;
    font-family:arial;
}
h1{
    color:white;
    text-align:center;
    font-size:50px;
}
h2{
    color:white;
    text-align:center;
    font-size:40px;
}
.center{
    margin-left:auto;
    margin-right:auto; 
}
table{
 font-size:35px;
    width:650px;
    color:white;
}
#one{
    width:60px;
}
#two{
    height:210px;
    width:400px;
}
#three{
    width:1400px;
    }
#four{
      width:80px;  
    }
td{
    text-align:center;
}
}

@media screen and (min-device-width:1451px) and (max-device-width:1600px) {
    table{width:90%}
body{
    background:url(indexbarcelonafon.jpg) top fixed;
    background-repeat: repeat;
    background-size:100%;
    font-family:arial;
}
h1{
    color:white;
    text-align:center;
    font-size:50px;
}
h2{
    color:white;
    text-align:center;
    font-size:40px;
}
.center{
    margin-left:auto;
    margin-right:auto; 
}
table{
 font-size:35px;
    width:650px;
    color:white;
}
#one{
    width:75px;
}
#two{
    height:210px;
    width:400px;
}
#three{
    width:1450px;
    }
#four{
      width:80px;  
    }
td{
    text-align:center;
}
}

@media screen and (min-device-width:1601px) and (max-device-width:1800px) {
    table{width:90%}
body{
    background:url(indexbarcelonafon.jpg) top fixed;
    background-repeat: repeat;
    background-size:100%;
    font-family:arial;
}
h1{
    color:white;
    text-align:center;
    font-size:60px;
}
h2{
    color:white;
    text-align:center;
    font-size:50px;
}
.center{
    margin-left:auto;
    margin-right:auto; 
}
table{
 font-size:37px;
    width:750px;
    color:white;
}
#one{
    width:60px;
}
#two{
    height:200px;
    width:380px;
}
#three{
    width:1600px;
    }
#four{
      width:80px;  
    }
td{
    text-align:center;
}
}

@media screen and (min-device-width:1801px) and (max-device-width:2000px) {
    table{width:90%}
body{
    background:url(indexbarcelonafon.jpg) top fixed;
    background-repeat: repeat;
    background-size:100%;
    font-family:arial;
}
h1{
    color:white;
    text-align:center;
    font-size:70px;
}
h2{
    color:white;
    text-align:center;
    font-size:60px;
}
.center{
    margin-left:auto;
    margin-right:auto; 
}
table{
    font-size:40px;
    width:750px;
    color:white;
}
#one{
    width:90px;
}
#two{
    height:240px;
    width:480px;
}
#three{
    width:1850px;
    }
#four{
      width:100px;  
    }
td{
    text-align:center;
}
}

@media screen and (min-device-width:2001px) and (max-device-width:2500px) {
    table{width:90%}
    body{
    background:url(indexbarcelonafon.jpg) top fixed;
    background-repeat: repeat;
    background-size:100%;
    font-family:arial;
}
h1{
    color:white;
    text-align:center;
    font-size:85px;
}
h2{
    color:white;
    text-align:center;
    font-size:70px;
}
.center{
    margin-left:auto;
    margin-right:auto; 
}
table{
 font-size:55px;
    width:750px;
    color:white;
}
#one{
    width:120px;
}
#two{
    height:300px;
    width:550px;
}
#three{
    width:2100px;
    }
#four{
      width:140px;  
    }
td{
    text-align:center;
}
}

@media screen and (min-device-width:2501px) and (max-device-width:3000px) {
    table{width:90%}
    body{
    background:url(indexbarcelonafon.jpg) top fixed;
    background-repeat: repeat;
    background-size:100%;
    font-family:arial;
}
h1{
    color:white;
    text-align:center;
    font-size:110px;
}
h2{
    color:white;
    text-align:center;
    font-size:90px;
}
.center{
    margin-left:auto;
    margin-right:auto; 
}
table{
 font-size:70px;
    width:900px;
    color:white;
}
#one{
    width:130px;
}
#two{
    height:320px;
    width:570px;
}
#three{
    width:2400px;
    }
#four{
      width:150px;  
    }
td{
    text-align:center;
}
}

@media screen and (min-device-width:3001px) and (max-device-width:3500px) {
    table{width:90%}
  body{
    background:url(indexbarcelonafon.jpg) top fixed;
    background-repeat: repeat;
    background-size:100%;
    font-family:arial;
}
h1{
    color:white;
    text-align:center;
    font-size:125px;
}
h2{
    color:white;
    text-align:center;
    font-size:100px;
}
.center{
    margin-left:auto;
    margin-right:auto; 
}
table{
 font-size:90px;
    width:1400px;
    color:white;
}
#one{
    width:190px;
}
#two{
    height:430px;
    width:800px;
}
#three{
    width:3000px;
    }
#four{
      width:150px;  
    }
td{
    text-align:center;
}
}

@media screen and (min-device-width:3501px) and (max-device-width:4000px) {
    table{width:90%}
  body{
    background:url(indexbarcelonafon.jpg) top fixed;
    background-repeat: repeat;
    background-size:100%;
    font-family:arial;
}
h1{
    color:white;
    text-align:center;
    font-size:165px;
}
h2{
    color:white;
    text-align:center;
    font-size:130px;
}
.center{
    margin-left:auto;
    margin-right:auto; 
}
table{
 font-size:90px;
    width:1700px;
    color:white;
}
#one{
    width:250px;
}
#two{
    height:490px;
    width:900px;
}
#three{
    width:3700px;
    }
#four{
      width:220px;  
    }
td{
    text-align:center;
}
}

@media screen and (min-device-width:4001px) and (max-device-width:4500px) {
    table{width:90%}
  body{
    background:url(indexbarcelonafon.jpg) top fixed;
    background-repeat: repeat;
    background-size:100%;
    font-family:arial;
}
h1{
    color:white;
    text-align:center;
    font-size:165px;
}
h2{
    color:white;
    text-align:center;
    font-size:130px;
}
.center{
    margin-left:auto;
    margin-right:auto; 
}
table{
 font-size:90px;
    width:1700px;
    color:white;
}
#one{
    width:250px;
}
#two{
    height:490px;
    width:900px;
}
#three{
    width:1400px;
    }
#four{
      width:80px;  
    }
td{
    text-align:center;
}
}

@media screen and (min-device-width:4501px) and (max-device-width:5000px) {
    table{width:90%}
  body{
    background:url(indexbarcelonafon.jpg) top fixed;
    background-repeat: repeat;
    background-size:100%;
    font-family:arial;
}
h1{
    color:white;
    text-align:center;
    font-size:165px;
}
h2{
    color:white;
    text-align:center;
    font-size:130px;
}
.center{
    margin-left:auto;
    margin-right:auto; 
}
table{
 font-size:90px;
    width:1700px;
    color:white;
}
#one{
    width:250px;
}
#two{
    height:490px;
    width:900px;
}
#three{
    width:1400px;
    }
#four{
      width:80px;  
    }
td{
    text-align:center;
}
}

@media screen and (min-device-width:5001px) and (max-device-width:5500px) {
    table{width:90%}
  body{
    background:url(indexbarcelonafon.jpg) top fixed;
    background-repeat: repeat;
    background-size:100%;
    font-family:arial;
}
h1{
    color:white;
    text-align:center;
    font-size:165px;
}
h2{
    color:white;
    text-align:center;
    font-size:130px;
}
.center{
    margin-left:auto;
    margin-right:auto; 
}
table{
 font-size:90px;
    width:1700px;
    color:white;
}
#one{
    width:250px;
}
#two{
    height:490px;
    width:900px;
}
#three{
    width:1400px;
    }
#four{
      width:80px;  
    }
td{
    text-align:center;
}
}

@media screen and (min-device-width:5501px) and (max-device-width:6000px) {
    table{width:90%}
  body{
    background:url(indexbarcelonafon.jpg) top fixed;
    background-repeat: repeat;
    background-size:100%;
    font-family:arial;
}
h1{
    color:white;
    text-align:center;
    font-size:165px;
}
h2{
    color:white;
    text-align:center;
    font-size:130px;
}
.center{
    margin-left:auto;
    margin-right:auto; 
}
table{
 font-size:90px;
    width:1700px;
    color:white;
}
#one{
    width:250px;
}
#two{
    height:490px;
    width:900px;
}
#three{
    width:1400px;
    }
#four{
      width:80px;  
    }
td{
    text-align:center;
}
}