@media screen and (min-device-width:0px) and (max-device-width:320px) {
    table{width:90%}
   body{
    background:url(indexbayernfon.png) top fixed;
    background-repeat: repeat;
    background-size:100%;
    font-family:arial;
}
h1{
    text-align:center;
    font-size:50px;
}
h2{
    text-align:center;
    font-size:40px;
}
.center{
    margin-left:auto;
    margin-right:auto; 
}
table{
 font-size:35px;
    width:450px;
    color:white;
}
#one{
    width:70px;
}
#two{
    height:175px;
    width:300px;
}
td{
    text-align:center;
}
}

@media screen and (min-device-width:321px) and (max-device-width:480px) {
    table{width:90%}
   body{
    background:url(indexbayernfon.png) top fixed;
    background-repeat: repeat;
    background-size:100%;
    font-family:arial;
}
h1{
    text-align:center;
    font-size:50px;
}
h2{
    text-align:center;
    font-size:40px;
}
.center{
    margin-left:auto;
    margin-right:auto; 
}
table{
 font-size:35px;
    width:450px;
    color:white;
}
#one{
    width:70px;
}
#two{
    height:210px;
    width:400px;
}
td{
    text-align:center;
}
}

@media screen and (min-device-width:481px) and (max-device-width:600px) {
    table{width:90%}
   body{
    background:url(indexbayernfon.png) top fixed;
    background-repeat: repeat;
    background-size:100%;
    font-family:arial;
}
h1{
    text-align:center;
    font-size:50px;
}
h2{
    text-align:center;
    font-size:40px;
}
.center{
    margin-left:auto;
    margin-right:auto; 
}
table{
 font-size:35px;
    width:650px;
    color:whit:
}
#one{
    width:60px;
}
#two{
    height:210px;
    width:400px;
}
td{
    text-align:center;
}
}

@media screen and (min-device-width:601px) and (max-device-width:660px) {
    table{width:90%}
   body{
    background:url(indexbayernfon.png) top fixed;
    background-repeat: repeat;
    background-size:100%;
    font-family:arial;
}
h1{
    text-align:center;
    font-size:50px;
}
h2{
    text-align:center;
    font-size:40px;
}
.center{
    margin-left:auto;
    margin-right:auto; 
}
table{
 font-size:30px;
    width:450px;
    color:white;
}
#one{
    width:70px;
}
#two{
    height:160px;
    width:300px;
}
td{
    text-align:center;
}
}

@media screen and (min-device-width:661px) and (max-device-width:1025px) {
    table{width:90%}
   body{
    background:url(indexbayernfon.png) top fixed;
    background-repeat: repeat;
    background-size:100%;
    font-family:arial;
}
h1{
    text-align:center;
    font-size:50px;
}
h2{
    text-align:center;
    font-size:40px;
}
.center{
    margin-left:auto;
    margin-right:auto; 
}
table{
    color:white;
 font-size:35px;
    width:481px;
}
#one{
    width:80px;
}
#two{
    height:180px;
    width:350px;
}
td{
    text-align:center;
}
}

@media screen and (min-device-width:1026px) and (max-device-width:1299px) {
    table{width:90%}
   body{
    background:url(indexbayernfon.png) top fixed;
    background-repeat: repeat;
    background-size:100%;
    font-family:arial;
}
h1{
    text-align:center;
    font-size:55px;
}
h2{
    text-align:center;
    font-size:45px;
}
.center{
    margin-left:auto;
    margin-right:auto; 
}
table{
    color:white;
 font-size:35px;
    width:504px;
}
#one{
    width:90px;
}
#two{
    height:210px;
    width:400px;
}
td{
    text-align:center;
}
}

@media screen and (min-device-width:1300px) and (max-device-width:2000px) {
    table{width:90%}
body{
    background:url(indexbayernfon.png) top fixed;
    background-repeat: repeat;
    background-size:100%;
    font-family:arial;
}
h1{
    text-align:center;
    font-size:50px;
}
h2{
    text-align:center;
    font-size:40px;
}
.center{
    margin-left:auto;
    margin-right:auto; 
}
table{
 font-size:35px;
    width:650px;
    color:white;
}
#one{
    width:60px;
}
#two{
    height:210px;
    width:400px;
}
td{
    text-align:center;
}
}

@media screen and (min-device-width:2001px) and (max-device-width:3000px) {
    table{width:90%}
    body{
    background:url(indexbayernfon.png) top fixed;
    background-repeat: repeat;
    background-size:100%;
    font-family:arial;
}
h1{
    text-align:center;
    font-size:90px;
}
h2{
    text-align:center;
    font-size:80px;
}
.center{
    margin-left:auto;
    margin-right:auto; 
}
table{
 font-size:60px;
    width:750px;
    color:white;
}
#one{
    width:140px;
}
#two{
    height:300px;
    width:550px;
}
td{
    text-align:center;
}
}

@media screen and (min-device-width:3001px) and (max-device-width:3500px) {
    table{width:90%}
  body{
    background:url(indexbayernfon.png) top fixed;
    background-repeat: repeat;
    background-size:100%;
    font-family:arial;
}
h1{
    text-align:center;
    font-size:145px;
}
h2{
    text-align:center;
    font-size:110px;
}
.center{
    margin-left:auto;
    margin-right:auto; 
}
table{
 font-size:90px;
    width:1400px;
    color:white;
}
#one{
    width:190px;
}
#two{
    height:430px;
    width:700px;
}
td{
    text-align:center;
}
}

@media screen and (min-device-width:3501px) and (max-device-width:4000px) {
    table{width:90%}
  body{
    background:url(indexbayernfon.png) top fixed;
    background-repeat: repeat;
    background-size:100%;
    font-family:arial;
}
h1{
    text-align:center;
    font-size:165px;
}
h2{
    text-align:center;
    font-size:130px;
}
.center{
    margin-left:auto;
    margin-right:auto; 
}
table{
 font-size:90px;
    width:1700px;
    color:white;
}
#one{
    width:250px;
}
#two{
    height:490px;
    width:900px;
}
td{
    text-align:center;
}
}